@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-text-main: #0f172a;
  --color-text-muted: #475569;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: 'Inter', system-ui, sans-serif;
  margin: 0;
  padding: 0;
}
